<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="JS/game.js" defer></script>
    {% endblock %}
</head>
<body>
    <div id="login-reg">
        {% if not session['username'] %}
            <form action="/login" method="post">
                <label for="username"> Username: </label>
                <input type="text" name="username" placeholder="Username">
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Log in</button>
                <br><br>
            </form>
            <a href="/registration">Register</a>
        {% else %}
            <a href="/{{ session['username'] }}">{{ session['username'] }}</a>
            <form action="/logout">
            <button type="submit">Logout</button>
            </form>
        {% endif %}
    </div>
    {% block content %}
        <section>
    <div class="container">
        <h1 data-text="SZIA URAM!">SZIA URAM!</h1>
    </div>
        </section>
    <div id="high-score">
        <table id="biggest-wins" style="background-color: white">
            <thead>
            <tr>
                <td>User</td>
                <td>Biggest Win</td>
            </tr>
            </thead>
            <tbody>
            {% for user in biggest_wins %}
                <tr>
                    <td>{{ user.user_name }}</td>
                    <td style="text-align: right">{{ user.biggest_win }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="buttons" class="center-form">
        <form action="game.html">
            <button type="submit">PLAY</button>
        </form>
        <form action="rules.html"></form>
            <button type="submit">RULES</button>
    </div>
{% endblock %}
</body>
</html>