<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
        <link rel="stylesheet" href="static/style.css">
        <script src="JS/game.js" defer></script>
    {% endblock %}
</head>
<body>
    <div id="login-reg">
        <a href="/registration">Log in/register</a>
    </div>
    {% block content %}
        <section>
    <div class="container">
        <h1 data-text="SZIA URAM!">SZIA URAM!</h1>
    </div>
        </section>
    <div id="high-score">
        <table>
        </table>
    </div>
    <div id="buttons" class="center-form">
        <form action="game.html">
            <button type="submit">PLAY</button>
        </form>
        <form action="rules.html"></form>
            <button type="submit">RULES</button>
    </div>
{% endblock %}
</body>
</html>