<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Index{% endblock %}</title>
        <link rel="stylesheet" href="{{  url_for('static', filename='styles/style.css')}}">
    {% endblock %}
</head>
<body>
    <div id="login-reg">
        {% if not session['username'] %}
            <form action="/login" method="post">
                <label for="username"></label>
                <input type="text" name="username" placeholder="Username">
                <label for="password"></label>
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="login">Log in</button>
                <br><br>
            </form>
            <a href="/registration" class="link">Register</a>
        {% else %}
            <a href="/{{ session['username'] }}" class="link">{{ session['username'] }}</a>
            <form action="/logout">
            <button type="submit" class="login">Logout</button>
            </form>
        {% endif %}
        {% if failed == True %}
        <h3 style="color: white">Wrong username or password, try again!</h3>
        {% endif %}
    </div>
    {% block content %}
        <br>
        <hr class="hr1">
        <section>
    <div class="container">
        <h1 data-text="SZIA URAM!">SZIA URAM!</h1>
    </div>
        </section>
        <div id="wrapper">
    <div id="high-score" class="high-score">
        <h3>High score</h3>
        <table id="biggest-wins" style="background-color: white">
            <thead>
            <tr>
                <td>User</td>
                <td>Biggest Win</td>
            </tr>
            </thead>
            <tbody>
            {% for user in biggest_wins %}
                <tr>
                    <td>{{ user.user_name }}</td>
                    <td style="text-align: right">{{ user.biggest_win }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="buttons" class="center-form">
            <form action="/game">
            <button type="submit" class="play">PLAY</button>
            </form>
        <br>
        <form action="/rules">
            <button type="submit" class="rules">RULES</button>
        </form>
        {% if not_logged_in == True %}
            <h3 style="color: white">You are not logged in!</h3>
        {% endif %}
    </div>
        </div>
{% endblock %}
</body>
</html>