{% extends "index.html" %}{% block title %}Log in/registrations{% endblock %}
<body>
    {% block content %}
        <h1 data-text="LOGIN">LOGIN</h1>
        <form action="/login" method="post">
            <p>User name: <input type=text name=username>
            <p>Password: <input type=password name=password>
            <p><button type="submit">Login</button></p>
        </form>
        <a href="registration.html" class="link">Registration</a>
        <a href="/" class="link">Back to main</a>
    {% endblock %}
</body>