{% extends index.html %}{% block title %}Log in/registrations{% endblock %}
<body>
    {% block content %}
        <h1>REGISTER</h1>
        <form action="/registration" method="post">
            <p>User name: <input type="text" name="username"></p>
            <p>Password: <input type="password" name="password"></p>
            <p>Repeat password: <input type="password" name="repeat_password"></p>
            <button type="submit" class="button1">Registration</button>
        </form>
        <form action="index.html">
        <button type="submit">Back to main</button>
        </form>
    {% endblock %}
</body>