{% extends "index.html" %}
    {% block title %}Rules{% endblock %}
<body>
    {% block content %}
    <h1 data-text="RULES" class="container">RULES</h1>
        <hr class="hr1">
        <div id="rules-odds">
    <div id="odds">
        <br><br><br>
        <img src="/static/images/slot_odds.png" alt="odds" class="rules" align="right">
    </div>
            <br><br><br>
        <div id="rules">
            <ul>
                <li>RULE</li>
                <li>RULE</li>
                <li>RULE</li>
                <li>RULE</li>
            </ul>
        </div>
        </div>
        <br>
        <a href="/" class="link">Back to main</a>
    {% endblock %}
</body>