{% extends "index.html" %}
    {% block title %}Rules{% endblock %}
<body>
    {% block content %}
    <h1 data-text="RULES" class="container">RULES</h1>
        <div id="rules-odds">
    <div id="odds">
        <br><br><br>
        <img src="/static/images/slot_odds.png" alt="odds" class="rules" align="right">
    </div>
            <br><br><br>
        <div id="rules">
            <ul>
                <li>You can only play if you are logged in. If you haven't got a profile, please register.</li>
                <li>The minimum bet is 500 HUF.</li>
                <li>You can't place a bigger bet then money you have. In this case, the bet will be the full money you have.</li>
                <li>The odds can been seen on the picture on the right.</li>
                <li>Please checkout if you want your money that you've won.</li>
                <li>If you've lost all your money, you can make a payment in your profile.</li>
                <li>Top 5 biggest wins ever can seen in the home page.</li>
                <li>Play RESPONSIBLY!</li>
            </ul>
        </div>
        </div>
        <br>
        <a href="/" class="link">Back to main</a>
    {% endblock %}
</body>