{% extends "index.html" %}{% block title %}User page{% endblock %}
<body>
    {% block content %}
        <form action="/add" method="post">
            <input type="number" placeholder="0" name="added_money">
            <button type="submit">Add</button>
        </form>
        <form action="/delete">
            <button type="submit">Delete</button>
        </form>
            <table style="background-color: white">
            <th>Username</th>
            <th>Balance</th>
            <th>Biggest Win</th>
            <tr>
                <td>{{ user_details.user_name }}</td>
                <td>{{ user_details.balance | int }}</td>
                <td>{{ user_details.biggest_win | int }}</td>
            </tr>
        </table>
        <a href="/" class="link">Back to main</a>
    {% endblock %}


</body>