@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Nunito", serif;
    background-color: black;
}
body{
    background-image: url("https://wallpaperaccess.com/full/4093095.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
:root {
  --var-color: rgb(238, 255, 0);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 8vw;
  color: var(--var-color);
  position: relative;
}
h1::before {
  position: absolute;
  content: attr(data-text);
  text-shadow: 0px 0px 20px var(--var-color);
  filter: blur(10px) brightness(0);
  animation: flicker 2s linear forwards;
  animation-delay: 1s;
}
@keyframes flicker {
  0% {
    filter: blur(5px) brightness(1);
  }
  3% {
    filter: blur(5px) brightness(0);
  }
  6% {
    filter: blur(5px) brightness(0);
  }
  7% {
    filter: blur(5px) brightness(1);
  }
  8% {
    filter: blur(5px) brightness(0);
  }
  9% {
    filter: blur(5px) brightness(1);
  }
  10% {
    filter: blur(5px) brightness(0);
  }
  20% {
    filter: blur(5px) brightness(1);
  }
  50% {
    filter: blur(5px) brightness(1);
  }
  99% {
    filter: blur(5px) brightness(0);
  }
  100% {
    filter: blur(5px) brightness(1);
  }
}
a.link{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    color: #01ffff;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-decoration: none;
    font-size: 45px;
    overflow: hidden;
    transition: 0.5s;
}
a.link:hover{
    color: #255784;
    background: #01ffff;
    box-shadow: 0 0 10px #01ffff, 0 0 40px rgb(1, 255, 255), 0 0 80px rgb(1, 255, 255);
}
/*
.bn39 {
  background-image: linear-gradient(135deg, #01ffff, #9d72ff);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn39:hover {
  color: #fff;
}

.bn39 .bn39span {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;
}*/
p{
  font-family: "Nunito", serif;
  color: white;
}
.center-form{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 40px;
}
label{
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff,
      0 0 102px #fff,
      0 0 151px #fff;
}
input{
    font: inherit;
    padding: 0.2em 0.5em;
    width:130px;
    height:30px;
    overflow: hidden;
    border-radius:0.5em;
    outline: none;
    border-color: #eeff00;
    color: #eeff00;
    background-color: #000000;
}

::placeholder{
    color: white;
}
main {
    border-radius: 15px;
    background-color: #255784;
    border: 3px solid #eeff00;
    margin-top: 30px;
    padding: 20px 15px;
    margin-left: calc((100% - 580px) / 2);
    width: 559px;
    box-shadow: 0 0 20px #FFFFFF, 0 0 25px #FFFFFF, 0 0 5px #eeff00;
}
section#slots {
    border-radius: 15px;
    background-color: #000000;
}

section#status {
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: #255784;
    color: #FFFFFF;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff;
    animation: blinker 5s linear infinite;
    font-size: 45px;
    font-family: 'Roboto Mono', monospace;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#slot1, #slot2, #slot3 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background-size: 150px;
    width: 170px;
    height: 155px;
}
#slots{
    border: 3px solid #eeff00;
}
div.spin{
    justify-content: center;
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
#take_spin{
    background: linear-gradient(321deg, #fa0e0e, rgba(177, 0, 0, 0.84));
    background-size: 400% 400%;
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
    border: red;
}

h3{
    color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff;
}
img.rules {
    border-radius: 50px;
    border: 10px solid transparent;
    background: linear-gradient(45deg, red, yellow, lime, aqua, blue, magenta, red) border-box;
    mask-composite: exclude;
    margin-right: 200px;
}
span.rules{
    color: white;
    font-size: xx-large;
    text-shadow:
    0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff;
}


.slot_signs {
    width: 150px;
    height: 150px;
}

button {
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border-color: #01ffff;
  padding: 12px 28px;
  font-size: 20px;
  border-radius: 6px;
}


button:hover {
  background-color: #01ffff;
  color: black;
}
button.login{
    font: inherit;
    padding: 0.2em 0.5em;
    width:130px;
    height:30px;
    overflow: hidden;
    border-radius:0.5em;
    outline: none;
    border-color: #eeff00;
    color: #eeff00;
    background-color: #000000;
    box-shadow: 0 0 20px #eeff00;
}
button.login:hover{
    background-color: #eeff00;
    color: black;
}
hr.hr1{
  border: 3px solid #01ffff;
  border-radius: 6px;
    width: available;
}
table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
    text-shadow:
    0 0 7px #fff;
    width: 100%;
    font-size: 20px;
}

th, td {
  border: 3px solid #01ffff;
  padding: 10px;
    background-color: black;
}
div.high-score{
    height: 400px;
    width: 25%;
}
h3{
    font-size: 200%;
}
#wrapper {
    width: available;
    overflow: hidden;
}
#high-score {
    width: 350px;
    float:left;
}
#buttons {
    overflow: hidden;
    margin-right: 450px;
}
#rules-odds{
    width: available;
    overflow: hidden;
}
#odds{
    float:right;
    margin-right: 200px;
}
#rules {
    overflow: hidden;
    margin-left: 300px;
}
ul{
    color: #FFFFFF;
    list-style-type: disc;
    margin: 80px;
    font-size: 180%;
}

.bet-selector {
    display: block;
    text-align: center;
}

#take_spin:hover {
    background: linear-gradient(321deg, #ff0000, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@keyframes AnimationName {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
.balance {
    position: relative;
    left: 7px;
}
.win_this_round {
    position: relative;
    left: 7px;
}
.checkout {
    position: relative;
    top: 10px;
}

